%html
  %head
    %title Tutorial
    %link{:rel => 'stylesheet', :type => 'text/css', 'href' => '../css/style.css'}
  %body
    #container
      .button.button-green Save
      .button.button-red Delete
